<button (click)="myhome()" class="btn btn-lg btn-primary">Home</button>
<button (click)="myangular()" class="btn btn-lg btn-primary">Angular</button>
<button (click)="aboutus()" class="btn btn-lg btn-primary">About-Us</button>
<button (click)="contactus()" class="btn btn-lg btn-primary">Contact-Us</button>
<button (click)="mywebdesign()" class="btn btn-lg btn-primary">Web-Design</button>
<button (click)="mycareer()" class="btn btn-lg btn-primary">Career</button>
<router-outlet></router-outlet>
<!-- <a [routerLink] = "['/home']" class="btn btn-lg btn-primary">Home</a>
<a [routerLink] = "['/products']" class="btn btn-lg btn-primary">Products</a>
<a [routerLink] = "['/web-design']" class="btn btn-lg btn-primary">Web-design</a>
<a [routerLink] = "['/angular']" class="btn btn-lg btn-primary">Angular</a>
<a [routerLink] = "['/contact-us']" class="btn btn-lg btn-primary">Contact-Us</a>
<a [routerLink] = "['/about-us']" class="btn btn-lg btn-primary">About-Us</a> -->
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a href="#" title="" class="navbar-brand text-warning">Shanu</a>
	<div class="navbar-toggler" data-toggle="collapse" data-target="#navkiid">
		<span class="navbar-toggler-icon"></span>
	</div>
	<div class="collapse navbar-collapse" id="navkiid">
		<ul class="navbar-nav ml-auto text-center">
			<li class="nav-item">
			 <a [routerLink] = "['/home']" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
			 <a [routerLink] = "['/products']" class="nav-link">Products</a>
			</li>
			<li class="nav-item">
			 <a [routerLink] = "['/web-design']" class="nav-link">Web-design</a>
			</li>
			<li class="nav-item">
			 <a [routerLink] = "['/angular']" class="nav-link">Angular</a>
			</li>
			<li class="nav-item">
			 <a [routerLink] = "['/contact-us']" class="nav-link">Contact-Us</a>
			</li>
			<li class="nav-item">
			 <a [routerLink] = "['/about-us']" class="nav-link">About-Us</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet> -->
<!-- <app-header></app-header> -->