<div class="bg-secondary text-white text-center">
	<h1>About-Us</h1>
	<br><br>
	<p>A routed Angular application has one singleton instance of the Router service. When the browser's URL changes, that router looks for a corresponding Route from which it can determine the component to display.
	A router has no routes until you configure it. The following example creates five route definitions, configures the router via the RouterModule.forRoot() method, and adds the result to the AppModule's imports array.</p>
	<br><br>
	<img src="/assets/3.jpeg" alt="" style="height: 500px; width:100%">
</div>
